header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 90px;
  background-color: $tertiary;

  .headerImgContainer {
    width: 45%;

    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .headerContent {
    width: 55%;

    .contentContainer {
      width: 65%;
      margin: 0 auto;
    }
  }
}
