//instagram section code

.gallery {
  background-color: $tertiary;
  padding: 90px 0;
  margin: 0;
  h2 {
    max-width: 500px;
  }
}

.galleryItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    //set width to parent and then make sure to set width 100% to img - this could be placed in general styles
    width: 15%;
    img {
      width: 100%;
      display: block;
    }
  }
}
